PORT=3000
NODE_ENV=development

# Generar con: openssl rand -hex 32
JWT_SECRET=

ADMIN_USERNAME=admin
# Generar con: npm run create-admin
ADMIN_PASSWORD_HASH=

DB_PATH=./data/aguademar.sqlite
UPLOADS_DIR=./public/assets/images/products
